[alias]
	co    = checkout
	ci    = commit
	cinit = commit --allow-empty -m 'initial commit'
   d     = diff
   ds    = diff --staged
   dh    = diff HEAD^ HEAD
	st    = status
	br    = branch
   rs    = restore
   rsa   = restore '*'
   rss   = restore '*' --staged
	sl    = stash list
	su    = stash -u
	sp    = stash pop
[branch]
	autosetupmerge = true
	autosetuprebase = always
[user]
{{- if eq .chezmoi.hostname "mason-xps" }}
	signingkey = B9D41C44B17973D6
{{- else if .chezmoi.hostname "cominor.com" }}
   signingkey = E9CA4E039435925B
{{- else }}
   signingkey = fill-me-in
{{- end }}
	name = Mason McElvain
{{- if eq .chezmoi.hostname "cominor.com" }}
   email = mason@ifixit.com
{{- else }}
	email = 52104630+masonmcelvain@users.noreply.github.com
{{- end }}
   useConfigOnly = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[core]
	editor = vi
[pull]
	rebase = false
[push]
	autoSetupRemote = true
{{- if eq .chezmoi.hostname "mason-xps" }}
[includeIf "gitdir:~/code/work/"]
   path = "./.gitconfig.work"
{{- end }}
