[alias]
   bl    = blame --color-lines
	co    = checkout
	ci    = commit
	cinit = commit --allow-empty -m 'initial commit'
   d     = diff
   ds    = diff --staged
   dh    = diff HEAD^ HEAD
	st    = status
	br    = branch
   logo  = log --oneline
   rb    = rebase
   rbc   = rebase --continue
   rbi   = "!f() { git rebase -i \"HEAD~$1\"; }; f"
   rs    = restore
   rsa   = restore '*'
   rss   = restore '*' --staged
	sl    = stash list
	su    = stash -u
	sp    = stash pop
   sw    = switch
[branch]
	autosetupmerge = true
	autosetuprebase = always
[user]
	signingkey = {{ .gitconfig.signingkey }}
	name = Mason McElvain
   email = {{ .gitconfig.email | quote }}
   useConfigOnly = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[core]
	editor = vi
[pull]
	rebase = false
[push]
	autoSetupRemote = true
