[alias]
   ap    = add -p
   bl    = blame --color-lines
	co    = checkout
	ci    = commit
	cinit = commit --allow-empty -m 'initial commit'
   cp    = cherry-pick
   d     = diff
   ds    = diff --staged
   dh    = diff HEAD^ HEAD
	st    = status
	br    = branch
   logo  = log --oneline
   rb    = rebase
   rbc   = rebase --continue
   rbi   = "!f() { git rebase -i \"HEAD~$1\"; }; f"
   rs    = restore
   rsa   = restore '*'
   rss   = restore '*' --staged
	sl    = stash list
	su    = stash -u
	sp    = stash pop
   sw    = switch
[branch]
	autosetupmerge = true
	autosetuprebase = always
[user]
	signingkey = {{ .gitconfig.signingkey }}
	name = Mason McElvain
   email = {{ .gitconfig.email | quote }}
   useConfigOnly = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[core]
	editor = hx
[gpg]
   program = gpg2
[pull]
	rebase = false
[push]
	autoSetupRemote = true
{{- if eq .chezmoi.hostname "cominor" }}
[submodule]
	recurse = true
{{- end }}

# https://github.com/dandavison/delta
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
