# Cheatsheet
#------------------------------------------------------------------------------
# Reload .tmux.conf with <prefix> Shift+R
# Respawn pane with <prefix> `
# Resize pane Alt+Shift+HJKL
# Move window <prefix> < or >
# https://github.com/tmux-plugins/tpm

# Config
#------------------------------------------------------------------------------
# Uncomment to reset all keybindings
# unbind-key -a

set -g mouse on

# remap prefix from 'C-b' to 'C-a'
unbind C-b
set-option -g prefix C-a
bind C-a send-prefix

# respawn pane with <prefix> `
bind ` respawn-pane -k

# open new windows in the current pane's path
bind c new-window -c "#{pane_current_path}"

# Switch windows Alt-n and Alt-p
bind -n M-n select-window -n
bind -n M-p select-window -p

# switch panes using Alt hjkl
bind -n M-h select-pane -L
bind -n M-j select-pane -D
bind -n M-k select-pane -U
bind -n M-l select-pane -R

# Window move bindings
bind -r "<" swap-window -d -t -1
bind -r ">" swap-window -d -t +1

# Resize pane bindings
bind -n M-H resize-pane -L
bind -n M-J resize-pane -D
bind -n M-K resize-pane -U
bind -n M-L resize-pane -R

# Split window bindings
bind "\\" split-window -h -c "#{pane_current_path}"
bind "-" split-window -v -c "#{pane_current_path}"
unbind "%"
unbind '"'

# maximize pane with Ctrl-Space
bind -n C-Space resize-pane -Z

# Plugins
#------------------------------------------------------------------------------
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
# https://github.com/tmux-plugins/tmux-pain-control
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'jimeh/tmux-themepack'
set -g @themepack 'powerline/default/cyan'

{{ if eq .chezmoi.hostname "mason-xps" -}}
# plugin commands
set -g @continuum-boot 'on'
set -g @continuum-restore 'on'
{{- end }}

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
