theme = "everforest_light"
# theme = "dracula"

[editor]
bufferline = "multiple"
middle-click-paste = false
# https://github.com/helix-editor/helix/issues/1271
true-color = true
# Minimum severity to show a diagnostic after the end of a line:
end-of-line-diagnostics = "hint"
# Trim whitespace preceding line endings on write (default false)
trim-trailing-whitespace = true
[editor.inline-diagnostics]
# Minimum severity to show a diagnostic on the primary cursor's line.
# Note that `cursor-line` diagnostics are hidden in insert mode.
cursor-line = "error"
# Minimum severity to show a diagnostic on other lines:
# other-lines = "error"
[editor.soft-wrap]
enable = true
wrap-indicator = ""
[editor.statusline]
right = ["diagnostics", "selections", "primary-selection-length", "register", "position", "file-encoding"]

# create a new minor mode bound to `+`
[keys.normal."+"]
P = "copy_between_registers"

# create a new minor mode bound to `M`
[keys.normal.M]
b = ":sh git log -L '%{selection_line_start},%{selection_line_start}:%{buffer_name}' --no-patch -20"
"B" = [":insert-output git log -L '%{selection_line_start},%{selection_line_start}:%{buffer_name}' -10", "delete_selection", "undo", "undo", ":hnew", "paste_before", "goto_file_start", ":set-language diff"]
{{ if eq .chezmoi.hostname "cominor" -}}
o = ":echo %sh{gh browse -n '%{buffer_name}:%{selection_line_start}-%{selection_line_end}'}"
{{- else if eq .chezmoi.hostname "mason-xps" }}
o = ":sh gh browse '%{buffer_name}:%{selection_line_start}-%{selection_line_end}' > /dev/null"
{{- end }}
