theme = "everforest_light"
# theme = "dracula"

[editor]
bufferline = "multiple"
middle-click-paste = false
# https://github.com/helix-editor/helix/issues/1271
true-color = true
# Minimum severity to show a diagnostic after the end of a line:
end-of-line-diagnostics = "hint"
[editor.inline-diagnostics]
# Minimum severity to show a diagnostic on the primary cursor's line.
# Note that `cursor-line` diagnostics are hidden in insert mode.
cursor-line = "error"
# Minimum severity to show a diagnostic on other lines:
# other-lines = "error"
[editor.soft-wrap]
enable = true
wrap-indicator = ""
[editor.statusline]
right = ["diagnostics", "selections", "primary-selection-length", "register", "position", "file-encoding"]

{{ if eq .chezmoi.hostname "cominor" -}}
# create a new minor mode bound to `+`
[keys.normal."+"]
p = "copy_between_registers"

# create a new minor mode bound to `G`
[keys.normal.G]
b = ":echo %sh{git log -L %{selection_line_start},%{selection_line_start}:%{buffer_name} --oneline --pretty=format:\"%%h (%%an %%ad) %%s\" --date=short | head -1}"
o = ":echo %sh{gh browse -n %{buffer_name}:%{selection_line_start}-%{selection_line_end}}"
{{- end }}
