[Desktop Entry]
Name=Alacritty Directory
Exec=/home/mason/.cargo/bin/alacritty --working-directory %f
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/Alacritty.svg
Categories=Utility;
