[Desktop Entry]
Name=Helix
Exec={{ .chezmoi.homeDir }}/.cargo/bin/alacritty --command {{ .chezmoi.homeDir }}/bin/hx %U
Terminal=false
Type=Application
Icon={{ .chezmoi.homeDir }}/.local/share/icons/svg/helix.svg
Categories=Utility;TextEditor;
